<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.llx.studio.dao.RoleDao">

    <select id="countRole" resultType="Integer">
        SELECT count(0)
        FROM sys_role u
        WHERE u.del_flag = 0
    </select>

    <select id="countUserRole" resultType="Integer">
        SELECT count(0)
        FROM sys_user_role u
        WHERE  u.user_id = #{userId}
    </select>

    <select id="IsNotUserRole" resultType="Integer">
        SELECT count(0)
        FROM sys_user_role u
        WHERE  u.user_id = #{userId}
        AND u.role_id = #{roleId}
    </select>

    <select id="queryExistRoleName" resultType="int">
        select count(0)
        from sys_role
        WHERE role_name=#{roleName}
        AND del_flag= 0;
    </select>

    <select id="queryExistRoleId" resultType="int">
        select count(0)
        from sys_role
        WHERE role_id=#{roleId}
        AND del_flag= 0;
    </select>

    <insert id="addRole" useGeneratedKeys="true" keyProperty="roleId">
        INSERT  INTO sys_role
        ( role_name, role_powe, role_order, role_stat, create_time, create_person)
        VALUES
        (#{roleName},#{rolePowe},#{roleOrder},0,#{createTime},#{createPerson});
    </insert>

    <update id="updataRole">
        UPDATE sys_role
        <set>
            <if test="roleName != null and roleName != ''">role_name = #{roleName},</if>
            <if test="rolePowe != null and rolePowe != ''">role_powe = #{rolePowe},</if>
            <if test="roleOrder != null and roleOrder != ''">role_order = #{roleOrder},</if>
            <if test="roleStat != null and roleStat != ''">role_stat = #{roleStat},</if>
            <if test="updatePerson != null and updatePerson != ''">update_person = #{updatePerson},</if>
            last_modifide = #{lastModifide}
        </set>
        WHERE role_id = #{roleId}
    </update>

    <select id="listRole" resultType="com.alibaba.fastjson.JSONObject">
        select
          `role_id`, `role_name`, `role_powe`, `role_order`, `role_stat`, `create_time`,
          `create_person`, `last_modifide`, `del_flag`, `remark`, `update_person`
        from sys_role
        WHERE del_flag = 0
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="oneRole" resultType="com.alibaba.fastjson.JSONObject">
        select
        `role_id`, `role_name`, `role_powe`, `role_order`, `role_stat`, `create_time`,
        `create_person`, `last_modifide`, `del_flag`, `remark`, `update_person`
        from sys_role
        WHERE role_id = #{roleId}
        AND del_flag = 0
    </select>

    <update id="delRole">
        UPDATE sys_role as r, sys_role_menu as rm
        <set>
            r.del_flag = 2,
            r.update_person = #{updatePerson},
            r.last_modifide = #{lastModifide},
            rm.type = 2
        </set>
        WHERE r.role_id = rm.role_id
        AND r.role_id = #{roleId}
    </update>

    <insert id="addUserRole" useGeneratedKeys="true" keyProperty="roleId">
        INSERT  INTO sys_user_role
        ( user_id, role_id, create_time, create_person)
        VALUES
        (#{userId},#{roleId},#{createTime},#{createPerson});
    </insert>

    <select id="listUserRole" resultType="com.alibaba.fastjson.JSONObject">
      select
        sys_user_role.role_id, `role_name`, `role_powe`, `role_order`, `role_stat`, sys_role.create_time,
        sys_role.create_person, sys_role.last_modifide, sys_role.del_flag, sys_role.remark, sys_role.update_person
        from sys_role , sys_user_role
        WHERE sys_role.role_id = sys_user_role.role_id
        AND sys_user_role.user_id = #{userId}
        AND sys_role.del_flag = 0
    </select>

    <select id="listUserRolePermission" resultType="com.alibaba.fastjson.JSONObject">
        select
          role_powe
        from sys_role , sys_user_role
        WHERE sys_role.role_id = sys_user_role.role_id
        AND sys_user_role.user_id = #{userId}
        AND role_stat = 0
        AND del_flag = 0
    </select>

    <delete id="delUserRole">
         DELETE FROM sys_user_role
         WHERE role_id = #{roleId}
         AND  user_id = #{userId}
    </delete>

    <update id="setRoleStat">
        UPDATE sys_role as r, sys_role_menu as rm
        <set>
            r.role_stat = #{roleStat},
            r.update_person = #{updatePerson},
            r.last_modifide = #{lastModifide},
            rm.type = #{roleStat}
        </set>
        WHERE r.role_id = rm.role_id
        AND role_id = #{roleId}
    </update>

    <update id="setRolePermission">
        UPDATE sys_role
        <set>
            role_powe = #{rolePowe},
            update_person = #{updatePerson},
            last_modifide = #{lastModifide}
        </set>
        WHERE role_id = #{roleId}
    </update>
</mapper>
